@import "../utils/variables";
@import "../utils/mixins";

.navBar {
	text-transform: uppercase;
	height: spacing(20);
	background-color: transparent;
	display: flex;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

.gridContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.navBarLogo {
	font-weight: 300;
	font-style: normal;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hamburgerMenu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navBarLinks {
	display: none;
	justify-content: space-around;
	align-items: center;
}
.navBarPages {
	@extend .navBarLinks;
}

.logoBold {
	font-weight: 700;
}
