@import "../utils/variables";
.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: spacing(20);
	padding-right: spacing(20);
	text-transform: uppercase;
	height: spacing(20);
}

.navBarLogo {
	height: 100%;
	margin-right: $spacing-grande;
	flex: 1;
}
.navBarLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $spacing-xxl;
	margin-right: $spacing-grande;
}
.logoBold {
	font-weight: 700;
}
