@import "../utils/variables";

.skillsSection {
	height: calc(100vh - 80px);
	background-color: $color-bg-brighter;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(3 1fr);
	grid-template-rows: 1fr auto;
	justify-content: stretch;
	z-index: 1;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url("../../../public/noise.png");
		background-repeat: repeat;
		opacity: $noise-opacity;
		z-index: -1;
	}
}
.skillsText {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: $spacing-elite;
	text-align: center;
	padding-right: $spacing-elite;
	padding-left: $spacing-elite;
	h2 {
		font-size: 2.5rem;
	}
}

.skillsCardContainer {
	display: grid;
}
.skillCard {
	display: flex;
	flex-direction: column;
}
