@import "../utils/variables";

.skillsSection {
	height: 100vh;
	background-color: $color-bg-brighter;

	z-index: 1;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url("../../../public/noise.png");
		background-repeat: repeat;
		opacity: $noise-opacity;
		z-index: -1;
	}
}
.skillsText {
	padding-top: $spacing-xxl;
	text-align: center;
	padding-right: $spacing-elite;
	padding-left: $spacing-elite;
	h2 {
		font-size: 2.5rem;
	}
}

.skillsCardContainer {
	display: flex;
	justify-content: center;
	gap: $spacing-md;
	margin-bottom: $spacing-xxl;
}
.skillCard {
	height: 300px;
	width: 300px;
	background-color: $color-highlight;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
