@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");

// Colors
$background-color: #121212;
$background-color-highlight: #171717;
$text-color: #898989;
$text-color-highlight: #fafafa;
$border-color: darken($text-color, 30%);
$accent-color: #03a678;
$noise-opacity: 0.3;

// Fonts
$h1-size: 4rem;
$h2-size: 2rem;
$psize: 1rem;

$alt-family: "Estonia", cursive;

// Sizes

$gutter-padding-s: 1rem;
$gutter-padding-m: 5rem;
$gutter-padding-l: 10rem;
$gutter-padding-xl: 15rem;

// Timings

$hover-time: 0.2s;
