// Colors
$background-color: #121212;
$background-color-highlight: #171717;
$text-color: #898989;
$text-color-highlight: #fafafa;
$accent-color: #287050;

// Fonts
$h1-size: 4rem;
$h2-size: 2rem;
$psize: 1rem;

// Sizes

$gutter-padding: 15rem;
