@import "../../styles/variables";
@import "../../styles/breakpoints";

.form {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5rem;
	color: $text-color;
	input {
		height: 2rem;
		color: $text-color;
		background-color: darken($color: $background-color, $amount: 2);
		border: none;
		border-radius: 0.5rem;
		padding: 1rem;
		outline: none;
		&:focus {
			border: none;
			outline: 1px solid $text-color;
		}
	}
	textarea {
		@extend input;
		height: 6rem;
	}
	button {
		@extend input;
		justify-self: center;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $text-color-highlight;
		background-color: $accent-color;
		margin-top: 0.5rem;
		min-width: 300px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		&:hover {
			background-color: darken($color: $accent-color, $amount: 5);
		}
	}
}

.fieldGroup {
	display: flex;
	flex-direction: column;
}
.label {
	color: darken($color: $text-color, $amount: 20%);
}

@include m {
	.form {
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		.fieldGroup {
			grid-column: span 1;
		}
		button {
			grid-column: span 2;
			justify-self: center;
		}
		.textAreaGroup {
			display: flex;
			flex-direction: column;
			grid-column: 1 / span 2;
		}
	}
}
