@import "../../styles/variables";
@import "../../styles/breakpoints";

.footer {
	background-color: darken($background-color, 2%);
	width: 100%;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	min-height: 200px;
}

.infoContainer {
	padding: 1rem 0.5rem;
	font-size: 0.65rem;
	h4 {
		font-size: 1rem;
	}
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	li {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 0.25rem;
	}
}

@include m {
	.footer {
		padding: 0 3rem;
	}
	.infoContainer {
		font-size: 0.8rem;
		max-width: 250px;
		h4 {
			font-size: 1.25rem;
		}
	}
}

@include l {
	.footer {
		padding: 0 10%;
	}
}
