@import "../../styles/variables";
@import "../../styles/breakpoints";

.gridItem {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	svg {
		height: 28px;
	}
	p {
		font-size: 0.8rem;
	}
}

@include m {
	.gridItem {
		p {
			font-size: $psize;
		}
	}
}

@include l {
	.gridItem {
		svg {
			height: 38px;
		}
	}
}
