@import "../../styles/variables";
@import "../../styles/breakpoints";

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: $gutter-padding-s;
	min-height: 4rem;
	width: 100%;
	font-weight: 600;

	border-bottom: 1px solid $border-color;
}

.logo {
	width: 100%;
	padding-left: $gutter-padding-s;
	svg {
		height: 0.5rem;
	}
}

.links {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-end;
	gap: 2rem;
	padding-right: $gutter-padding-s;
}

@include m {
	.logo {
		padding-left: $gutter-padding-m;
		svg {
			height: 1rem;
		}
	}
	.links {
		padding-right: $gutter-padding-m;
	}
}

@include l {
	.logo {
		padding-left: $gutter-padding-m;
	}
	.links {
		padding-right: $gutter-padding-l;
	}
}
@include xl {
	.logo {
		padding-left: $gutter-padding-m;
	}
	.links {
		padding-right: $gutter-padding-xl;
	}
}
