@import "../../styles/variables";
@import "../../styles/breakpoints";

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 1rem;
}

.projectCard {
	max-width: 250px;
	border: 1px solid $text-color;
	border-radius: 1rem;
	transition: border $hover-time ease-in;
	overflow: hidden;
	img {
		width: 100%;
		height: 200px;

		object-fit: cover;
		display: block;
	}
	a {
		font-size: 0.8rem;
	}
	&:hover {
		border: 1px solid $text-color-highlight;
	}
}

.projectCardContent {
	padding: 1rem;
	transition: color $hover-time ease-in;
	p {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-size: 0.8rem;
	}

	&:hover {
		color: $text-color-highlight;
	}
}

@include m {
	.projectCard {
		max-width: 500px;
		img {
			height: 300px;
		}
	}
}

@include l {
	.wrapper {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
	}
	.projectCard {
		img {
			height: 200px;
		}
	}
}
