@import "./utils/variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	// font-family: $font-family-base;
	background-color: $color-bg;
	color: $color-text;
	overflow-x: hidden;
	font-size: $font-size-base;
	line-height: 1.6;
	width: 100%;
}

a {
	color: $color-text;
	text-decoration: none;
	&:hover,
	&:focus {
		color: darken($color-text, 10%);
	}
}

h1 {
	font-size: $font-size-xl;
	line-height: $line-height-xl;
}
p {
	font-size: $font-size-base;
	line-height: $line-height-base;
}
h2 {
	font-size: $font-size-lg;
	line-height: $line-height-lg;
}
