@import "../styles/variables";
@import "../styles/mixins";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100svw;
	overflow-x: hidden;
}

body {
	background-color: $background-color;
}

h1 {
	color: $text-color-highlight;
	font-size: $h1-size;
	line-height: $h1-size;
	font-weight: 800;
}
h2 {
	color: $text-color;
	font-size: $h2-size;
	font-weight: 700;
}

p {
	color: $text-color;
	font-size: $psize;
	line-height: $psize;
}
