@import "../styles/variables";
@import "../styles/mixins";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	text-decoration: none;
}

html,
body {
	max-width: 100svw;
	overflow-x: hidden;
	color: $text-color;
}

body {
	background-color: $background-color;
	font-size: 16px;
}

h1 {
	color: $text-color-highlight;
	font-size: $h1-size;
	line-height: $h1-size;
	font-weight: 800;
}
h2 {
	color: $text-color;
	font-size: $h2-size;
	font-weight: 700;
}

p {
	color: $text-color;
	font-size: $psize;
	line-height: $psize;
}

a {
	color: $text-color;
	&:visited {
		color: $text-color;
	}
	&:hover {
		color: $text-color-highlight;
		transition: color 0.2s ease-in-out;
	}
}
