@import "../styles/variables";

.main {
	height: calc(100svh - 5rem);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.ctaContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 2rem;
}

.cta {
	padding: 8px 16px 8px 16px;
	border: 1px solid $border-color;
}
