@import "../styles/variables";
@import "../styles/breakpoints";

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	min-height: 100svh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	padding-left: $gutter-padding-s;
	padding-right: $gutter-padding-s;
	p {
		padding-top: $gutter-padding-s;
	}
}

.typeWriter {
	min-height: $h1-size;
}

.ctaContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: $gutter-padding-s;
}

.cta {
	padding: 8px 32px 8px 32px;
	border: 1px solid $border-color;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 6px;
	&:hover {
		border: 1px solid $text-color;
		color: $text-color-highlight;
		transition: color 0.2s ease-in-out;
		transition: border 0.2s ease-in-out;
	}
}

.tagline {
	max-width: 500px;
	word-wrap: break-word;
}

.about {
	padding-left: $gutter-padding-s;
	padding-right: $gutter-padding-s;
}

@include m {
	.title {
		padding-left: $gutter-padding-m;
		padding-right: $gutter-padding-m;
	}
	.about {
		padding-left: $gutter-padding-m;
		padding-right: $gutter-padding-m;
	}
}
