// Variables

// Main Colors
$color-text: #f2f2f2;
$color-bg: #0f1011;
$color-bg-brighter: lighten($color-bg, 5%);
$color-highlight: #2b2c2f;
$color-accent: rgb(255, 99, 71);

// Noise
//$noise-opacity: 0.02;
$noise-opacity: 0.03;

// Color Alias
$color-primary: $color-text;
$color-secondary: $color-highlight;
$color-tetiary: $color-accent;
$color-background: $color-bg;

// State Colors
$color-hover: $color-highlight;
$color-active: darken($color-highlight, 10%);

// Fonts

$font-size-base: 16px; // base size for the document
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 2rem; // 32px
$font-size-xl: 3rem; // 48px

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Breakpoints

$breakpoint-sm: 576px; // phone
$breakpoint-md: 768px; // tablet
$breakpoint-lg: 992px; // laptop
$breakpoint-xl: 1200px; // desktop

//Spacing

$base-unit: 0.25rem; // 4px

@function spacing($multiplier) {
	@return $base-unit * $multiplier;
}

$spacing-xxs: spacing(1); // 4px
$spacing-xs: spacing(2); // 8px
$spacing-sm: spacing(3); // 12px
$spacing-md: spacing(4); // 16px
$spacing-lg: spacing(6); // 24px
$spacing-xl: spacing(8); // 32px
$spacing-xxl: spacing(12); // 48px
$spacing-grande: spacing(20); // 80px
$spacing-elite: spacing(40); // 80px
$spacing-gutter: $spacing-elite;
