@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	/* Global Vars */
	--main-bg-color: #1e1e1e;
	--main-font-color: #eaeaea;
}

* {
	font-family: "JetBrains Mono", sans-serif;
}

body {
	color: var(--main-font-color);
	background: var(--main-bg-color);
}

.list {
	@apply flex flex-row justify-start items-center hover:opacity-60 gap-5 relative;
}

.list-text::after {
	@apply content-[''] absolute bg-white h-[3px] w-[0%] left-0 bottom-[-3px] duration-300;
}

.list-text:hover::after {
	@apply w-[100%];
}

.hazard_link:hover {
	@apply opacity-90 duration-300;
}

.dotgrid {
	background-image: radial-gradient(
		rgba(255, 255, 255, 0.03) 5%,
		transparent 9%
	);
	background-position: 0% 0%;
	background-size: 5vmin 5vmin;
	height: 90%;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/*
.dotgrid {
	height: 100vh;
	width: 100vw;
	background-image: url("../public/final_grid.svg");
	overflow: hidden;
	background-size: cover;
	background-position: center;
}
*/
