@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	/* Global Vars */
	--main-bg-color: #1e1e1e;
	--main-font-color: #eaeaea;
}

* {
	font-family: "JetBrains Mono", sans-serif;
}

body {
	color: var(--main-font-color);
	background: var(--main-bg-color);
}

.list {
	@apply flex flex-row justify-start items-center hover:text-slate-300;
}

.list-icon {
	@apply invisible group-hover:visible;
}

main {
	background-image: url("../public/grid.svg");
}
